{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ Ana Beatriz Ferreira Santana 
Andressa da Silva Lima 
Rafaella Carmo Menezes 
Andrey Lucas de Oliveira dos Santos
Gabriel Azevedo Cezario
Guilherme Henrique Gusmão Ferreira  }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
